<div>
  <ul class="breadcrumb">
    <li>
      <a href="/">Home</a><span class="divider">/</span>
    </li>
    <li>
      <a href="<%= users_path %>">用户表</a><span class="divider">/</span>
    </li>
    <li>
      新增用户
    </li>
  </ul>
</div>
<div class="row-fluid sortable">
  <div class="box span12">
    <div class="box-header well" data-original-title>
      <h2><i class="icon-edit"></i>填写用户信息</h2>
      <div class="box-icon">
        <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
        <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
        <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
      </div>
    </div>
    <div class="box-content center" style="width: 400px;padding-top: 30px;padding-bottom: 50px">
      <%= form_for(@user) do |f| %>
          <% if @user.errors.any? %>
              <div id="error_explanation" style="padding-top: 20px">
                <ul>
                  <% @user.errors.full_messages.each do |msg| %>
                      <li style="color: #ff0010;font-size: 18px;text-align: left"><%= msg %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>
          <table style="font-size: 18px">
            <tr>
              <td style="text-align: left"><h3>姓名：</h3></td>
              <td><%= f.text_field :name, placeholder:'真实姓名' %></td>
            </tr>
            <tr>
              <td style="text-align: left"><h3>帐号：</h3></td>
              <td><%= f.text_field :account, placeholder:'登录帐号' %></td>
            </tr>
            <tr>
              <td style="text-align: left"><h3>密码：</h3></td>
              <td><%= f.password_field :password, placeholder:'登录密码' %></td>
            </tr>
            <tr>
              <td style="text-align: left"><h3>确认密码：</h3></td>
              <td><%= f.password_field :password_confirmation, placeholder:'确认登录密码' %></td>
            </tr>
            <tr>
              <td style="text-align: left"><h3>角色权限：</h3></td>
              <% user = User.find_by_id(session[:user_id]) %>
              <% if user.role == 'administrator' %>
                  <td style="text-align: left"><%= f.select(:role,[['管理员','administrator'],['编辑','editor'],['用户','user']],:prompt => '-请选择角色权限-') %></td>
              <% end %>
              <% if user.role == 'editor' %>
                  <td style="text-align: left"><%= f.select(:role,[['编辑','editor'],['用户','user']],:prompt => '-请选择角色权限-') %></td>
              <% end %>
            </tr>
            <tr>
              <td colspan="2" class="login-box"><%= f.submit '提交',class: 'btn btn-success' %></td>
            </tr>
          </table>
      <% end %>
    </div>
  </div>
</div>